<!DOCTYPE html>
<html>
<head>
   <title>Slasha</title>
   <script type="text/javascript" src="/javascript/menu.js"></script>
   <script type="text/javascript" src="/javascript/package.js"></script>
   <script type="text/javascript">{{ init_vars|safe }}</script>
   <script type="text/javascript" src="{{ js_file }}"></script>
   <script type="text/javascript">{{ level_data|safe }}</script>
   <style type="text/css">
      body { font-family: Arial,Helvetica,sans-serif;}
   </style>
</head>
<body oncontextmenu="return false;">
  <table><tr><td>
  <canvas id="canvas" width="600" height="500" style="display:inline"></canvas>
  </td><td>
  <form id="next" action="/play" style="display:inline" method="post">
    <div><textarea name="data" cols="45" rows="30">{{ campaign_data|safe }}</textarea></div>
    <div><textarea name="info"></textarea></div>
    <div><textarea name="score"></textarea></div>
  </form>
  <form id="edit" action="/edit" style="display:inline" method="post">
    <div><textarea name="message"></textarea></div>
  </form>
  </td></tr></table>
  <form id="startscreen" action="/startscreen" method="post">
    <div><textarea name="campaign" cols="45" rows="5"></textarea></div>
    <div id="ctrlreminder"><b>Reminder: Ctrl+A to select all, Ctrl+C to copy</b></div>
  </form>
</body>
</html>